@{
    ViewData["Title"] = "Mesas";
}


<div class="flex justify-between mb-4 ml-1 mr-4">
    <button class="bg-blue-400 hover:bg-blue-500 text-white font-bold p-2 rounded-md">Voltar</button>

    <form>
        <input class="rounded-md border px-2" type="text" placeholder="Pesquisar" />
        <button class="bg-blue-400 hover:bg-blue-500 text-white font-bold p-2 rounded-md">Pesquisar</button>
    </form>
</div>


<div class="flex sm:flex-column gap-3 md:flex-wrap md:ml-5">

    <div class="flex flex-column bg-slate-300 items-center w-full rounded-md pb-2 md:w-[30%] lg:w-[23.5%]">

        <div>
            <img width="100px" src="~/img/cerveja.png" />
        </div>
        <div>
            Cerveja Stela Artois - 300ml
        </div>
        
        <div class="flex justify-between">
            <div>
                R$ 10,00
            </div>
        </div>

        <div>
            <button class="bg-red-400 hover:bg-red-500 text-white font-bold px-4 rounded-md">-</button>
            <span class="mx-4">1</span>
            <button class="bg-blue-400 hover:bg-blue-500 text-white font-bold px-4 rounded-md">+</button>
        </div>

    </div>


    <div class="flex flex-column bg-slate-300 items-center w-full rounded-md pb-2 md:w-[30%] lg:w-[23.5%]">

        <div>
            <img width="100px" src="~/img/cerveja.png" />
        </div>
        <div>
            Cerveja Stela Artois - 300ml
        </div>
        
        <div class="flex justify-between">
            <div>
                R$ 10,00
            </div>
        </div>

        <div>
            <button class="bg-red-400 text-white font-bold px-4 rounded-md">-</button>
            <span class="mx-4">1</span>
            <button class="bg-blue-400 text-white font-bold px-4 rounded-md">+</button>
        </div>

    </div>


    <div class="flex flex-column bg-slate-300 items-center w-full rounded-md pb-2 md:w-[30%] lg:w-[23.5%]">

        <div>
            <img width="100px" src="~/img/cerveja.png" />
        </div>
        <div>
            Cerveja Stela Artois - 300ml
        </div>
        
        <div class="flex justify-between">
            <div>
                R$ 10,00
            </div>
        </div>

        <div>
            <button class="bg-red-400 text-white font-bold px-4 rounded-md">-</button>
            <span class="mx-4">1</span>
            <button class="bg-blue-400 text-white font-bold px-4 rounded-md">+</button>
        </div>

    </div>

<div class="flex flex-column bg-slate-300 items-center w-full rounded-md pb-2 md:w-[30%] lg:w-[23.5%]">

        <div>
            <img width="100px" src="~/img/cerveja.png" />
        </div>
        <div>
            Cerveja Stela Artois - 300ml
        </div>
        
        <div class="flex justify-between">
            <div>
                R$ 10,00
            </div>
        </div>

        <div>
            <button class="bg-red-400 text-white font-bold px-4 rounded-md">-</button>
            <span class="mx-4">1</span>
            <button class="bg-blue-400 text-white font-bold px-4 rounded-md">+</button>
        </div>

    </div>



</div>